@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

p{
    font-family: 'PT Sans';
    font-weight: 600;
    font-size: larger;
}

h1{
    font-family: 'MedievalSharp';
    font-weight: bold;
}

h2{
  font-family: "PT Sans", sans-serif;
    font-weight: bold;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.navbar {
  position: fixed;         
  top: 0;                  
  left: 0;
  width: 100vw;           
  margin: 0;              
  z-index: 1000;           
  background: linear-gradient(135deg, #D2783A, #84AF31, #EBC66D);
  padding: 25px 0;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.25);
  font-family: 'MedievalSharp', cursive;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 150px;
  font-family: 'MedievalSharp', cursive;
}

.navbar a {
  color: #fff8dc;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s;
  text-shadow: 0 0 12px #ffec8b, 0 0 20px #ffec8b;
  font-family: 'MedievalSharp', cursive;
}

.navbar a:hover {
  color: #FFEBAF;
  text-shadow: 0 0 12px #D2783A, 0 0 20px #D2783A;
  font-family: 'MedievalSharp', cursive;
}

@media (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
    gap: 15px;
  }
  .navbar {
    padding: 35px 0;
  }
}

footer {
  background-color: #442D1C;
  color: #FFEBAF;  
  padding: 20px;
  text-align: center;   
  font-size: 1rem; 
  width: auto; 
  margin: 0%;   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans';
}

body{
    justify-content: center;
    align-items: center;
    background-image: url(img/wallpaper-booktree.png);
    background-repeat: no-repeat;
    background-size: cover;       
    background-position: center;
    background-attachment: fixed;
    padding-top: 80px;
}

.container{
    position: relative;
    width: 1150px;
    padding:20px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card{
    position: relative;
    width: 300px;
    height: 480px;
    background-color: #FFEBAF;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px #442D1C;
    transition: 0.5s;
    justify-content: center;
    display: flex;
}

.container .card .circle{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #D2783A;
    clip-path:  circle(180px at center 0);
    text-align: center;
}

.container .card .circle h2{
    color: #FFEBAF;
    font-size: 2em;
    padding: 30px 0;
}

.container .card .content{
    position: absolute;
    bottom: 40px;
    padding: 20px;
    text-align: center;
}

.container .card .content p{
    color: #442D1C;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #D2783A;
    color: #FFEBAF;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bolder;
    margin-top: 20px;
    transition: 0.5s;
}

.container .card .content a:hover{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #84AF31;
    color: #FFEBAF;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bolder;
    margin-top: 20px;
    transform: scale(1.2);
}

.container:hover .card{
    transform: scale(0.9);
}

.container .card:hover{
    transform: scale(1.1);
    opacity: 1;
}

.card-img {
    width: auto;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
    z-index: 1;
    justify-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
