.geral1{
  background-color: rgb(124, 109, 106);
  border-radius: 10px;
  margin: 40px;
  padding-bottom: 14px;
}

.geral1 img{
  width: 350px; /*define a largura*/
  border-radius: 10px; /*arrendonda as bordas*/
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 0;
  box-shadow: #4f4343 0px 3px 13px 0px;
}
.capaesinopse{
  display: flex;
}
.sinopse{
  background-color: rgb(198, 198, 198);
  max-width: 900px;
  max-height: 700px;
  border-radius: 10px; /*arredonda as bordas*/
  margin-top: 20px;
  margin-left: 6%;
  box-shadow: #4f4343 0px 3px 13px 0px;
  padding-bottom: 40px;
}

.sinopse h2{
  text-align: center;
  font-size: 26px;
  font-family: 'Chewy', cursive;
}

.sinopse p{
  font-size: 19px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Comic Neue', cursive;
}

.podcast{
  display: flex;
  justify-content: center;
  
}

audio {
  width: 300px;
  border-radius: 10px;
  background-color: #5b3333;
}

button{
  margin-left: 68%;
  margin-top: 0px;
  width: 290px;
  height: 45px;
  border-radius: 10px;
}

.geral1 h3{
  font-size: 24px;
  margin-bottom: 30px;
  color: aliceblue;
  margin-left: 20px;
  font-family: 'Comic Neue', cursive;
}

/*css da avaliação*/

.star-rating{
    padding: 2rem 3rem;
    border-radius: 15px;
    background-color: rgb(104, 116, 91);
    margin: 50px;
    margin-left: 220px;
    margin-right: 220px;
    justify-content: center;
    box-shadow: #d8eaad 0px 3px 13px 0px;
}

.star-rating .stars{
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label{
    font-size: 2.5rem;
    color: #e9e9e9;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0 2px;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    
}

.star-rating label:hover,
.star-rating label:hover ~ label{
    color: #ffc107;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #ffc107;
}

.star-rating input[type="radio"]:checked ~ label {
    animation: pulse 0.5s;
}

@keyframes pulse{
    0% {transform: scale(1); }
    50% {transform: scale(1.3); }
    100% {transform: scale(1); }
}

legend{
    color: #f5f5f5;
    font-size: 25px;
    text-align: center;
    font-family: 'Comic Neue', cursive;
}

.sinopse hr{
    border: none;
  border-top: 2px solid #000000; /* espessura e cor da linha */
  margin: 20px 0;     
  margin-left: 30px;  
  margin-right: 30px;   
}

hr {
  border: none;
  border-top: 2px solid #f0f0f0; /* espessura e cor da linha */
  margin: 20px 0;     
  margin-left: 30px;  
  margin-right: 30px;        /* espaço acima e abaixo */
}

.voltar button{
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color:  rgb(73, 30, 31);
    box-shadow: #0000000d 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    color: #e9e9e9;
    margin-bottom: 50px;
    font-family: 'Comic Neue', cursive;
    
}

.voltar button:hover{
    letter-spacing: 3px;
    background-color: #ffc107;
    color: #f0f0f0;
    box-shadow: #ffc107 0px 4px 19px 0px;
    font-family: 'Comic Neue', cursive;
}

button:active {
    letter-spacing: 2px;
    background-color:#ffc107;
    color: #f0f0f0;
    box-shadow: #ffc107 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
    font-family: 'Comic Neue', cursive;
}






