@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
    overflow-x: hidden;
}

:root {
      --verde-cultura: #4CAF50; 
      --verde-pasto: #8BC34A;
      --verde-campo: #8BC34A;

      --laranja-peixonauta: #FF9800;
      --laranja-cocorico:#f29f23;
    }

a{
    text-decoration: none;
}
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a{
    color: var(--laranja-peixonauta);
    font-size: 1.1rem;
    margin-right: 40px;
}

header .logo{
    position: absolute;
    left: 115%;

    transform: translateX(-50%);
    height: 100px;
    display: flex;
    width: 150px;
    z-index: 2;
    justify-content: flex-end;
    justify-self: flex-end;
}

header a:hover{
    color: #4CAF50;
    transition: .5s;
    transform: scale(1.5);
}

container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

/* carousel */
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic{
    color: var(--verde-campo);
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons button{
    border: none;
    border-radius: 20px;
    background-color: var(--laranja-peixonauta);
    letter-spacing: 3px;
    color: #fff;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list .item .buttons button:hover{
    background-color: var(--verde-cultura);
    cursor: pointer;
    transition: .5s;
}


.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}


.setas{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.setas button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.setas button:hover{
    background-color: #fff;
    color: #000;
}


.carousel .list .item:nth-child(1){
    z-index: 1;
}




.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}


.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: var(--verde-cultura);
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}




.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .setas button,
.carousel.prev .setas button{
    pointer-events: none;
}

.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}

.container2{
    width: 100vw;
    height: 100vh;
    background-color: var(--laranja-cocorico);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.SECcont2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

 .text1{
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-top: auto;
    flex-direction: column;
    position: absolute;
    text-align: justify;
    font-size: 3rem;
    color: #fff;
    justify-content: left;
    text-align: left;
    z-index: 4;
    width: 50%;
    right: 40%;

    opacity: 1 !important;
}

.SECcont2 .text1 p{
    display: flex;
    font-size: 35px;
    
}

.SECcont2 h1{
    
    display: flex;
    font-size: 7rem;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

.SECcont2 h2{
  font-size: 4rem;

}

.buttons2 button {
    margin: 0 10px;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 20px;
    font-size: 2rem;
    cursor: pointer;
    background-color: #fff;
    color: var(--laranja-cocorico);
    transition: transform 0.2s;
    font-weight: 600;
    height: 100px;
    
}

.buttons2 button:hover {
    transform: scale(1.1);
}

.SECcont3{
background-image: url(/img/ShaunCarneiro.jpg);
background-size: cover;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
position: relative;
overflow: hidden;
}

.SECcont3 .text2{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: justify;
    font-size: 3rem;
    color: var(--verde-campo);
    justify-content: left;
    text-align: left;
    z-index: 4;
    width: 50%;
    left: 15%;
    gap: 25px;
    top: 15%;

    opacity: 1 !important;
}

.SECcont3 h1{
    display: flex;
    font-size: 4.5rem;
    margin: 0;
    text-align: center;
    padding: 0;
    line-height: 1.2em;
}

.buttons3 button{
    margin: 0 10px;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--verde-cultura);
    color: #fff;
    font-weight: 500;
   

    transition: transform 0.2s;
    font-weight: 600;
    height: 60px;
}

.buttons3 button:hover {
    transform: scale(1.1);
    background-color: var(--laranja-peixonauta);
}