@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

p{
    font-family: 'PT Sans';
    font-weight: 600;
    font-size: larger;
}

h1{
    font-family: 'MedievalSharp';
    font-weight: bold;
}

h2{
  font-family: "PT Sans", sans-serif;
    font-weight: bold;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}


body {
  margin: 0%;
  font-family: Arial, sans-serif;
  background: #FFEBAF;
  color: #442D1C;
  text-align: center;
}

.navbar {
  position: fixed;         
  top: 0;                  
  left: 0;
  width: 100vw;           
  margin: 0;              
  z-index: 1000;           
  background: linear-gradient(135deg, #D2783A, #84AF31, #EBC66D);
  padding: 25px 0;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.25);
  font-family: 'MedievalSharp', cursive;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 150px;
  font-family: 'MedievalSharp', cursive;
}

.navbar a {
  color: #fff8dc;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s;
  text-shadow: 0 0 12px #ffec8b, 0 0 20px #ffec8b;
  font-family: 'MedievalSharp', cursive;
}

.navbar a:hover {
  color: #FFEBAF;
  text-shadow: 0 0 12px #D2783A, 0 0 20px #D2783A;
  font-family: 'MedievalSharp', cursive;
}

@media (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
    gap: 15px;
  }
  .navbar {
    padding: 35px 0;
  }
}

.container-inicial{
    background-image: url(img/library-inicial.jpg);
    background-repeat: no-repeat;
    background-size: cover;       
    background-position: center;
    width: 100%; 
    position: fixed top;
    height: 200px;
    display: flex;
   flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 200px;  
    justify-content: center;
    margin: 0 auto;
}

.raposa-inicial{
    width: auto;
    height: 250px;
    justify-content: flex-start;
    display: flex;
    border-style: solid;
    border-color: #442D1C;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: #442D1C;
    margin: 50px;
}

.titulo-inicial{
    display: flex;
    justify-content: center;
    background-color: rgba(30 30 30 / 20%);
    backdrop-filter: blur(10px);
    border-width: 2px;
    border-style: solid;
    border-color: #442D1C;
    border-radius: 10px;
    width: auto;
    height: 380px;
    padding-left: 30px;
    padding-right: 30px;
}

.container-ini-1{
    display: flex;
    border-color: #442D1C;
    border-style: solid;
    border-width: 15px 0 15px 0;
    text-align: center;
    width: 100%; 
    margin: 0 auto; 
}

.texto-ini{
  padding: 40px;
  padding-top: 0;
  justify-content: center;
}

.container-ini-2{
  background-image: url(img/wallpaper-beige.jpg);
  height: max-content;
  width: 100%; 
  margin: 0 auto;  
}

.titulo-destaques{
  font-size: 60px;
}

/* Carrossel*/
.carrossel-inicio{
  display: flex;
  justify-self: center;
  width: 900px;
}

.card-carrossel{
  height: 450px;
  flex: 1;
  transition: .7s;
}

.card-carrossel:hover {
  flex: 3;
}

.card-carrossel img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-ini-3{
  background-image: url(img/wallpaper-forest.jpg);
  background-size: cover;
  display: grid;
  justify-content: center;
  border-color: #442D1C;
  border-style: solid;
  border-width: 15px 0 15px 0;
  text-align: center;
  width: 100%; 
  margin: 0 auto;
}

.titulo-etapa{
  padding: 30px;
  border-radius: 5px;
  justify-self: center;
  color: #FFEBAF;
  display: flex;
  background-color: #D2783A;
}

.titulo-etapa-position{
  justify-self: center;
  display: flex;
  align-self: center;
}

.grupo-icons{
  background-color: rgba(30 30 30 / 20%);
  backdrop-filter: blur(10px);
  border-width: 5px;
  border-style:solid;
  border-color: #FFEBAF;
  border-radius: 5px;
  gap: 50px;
  margin: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-self: center;
  align-self: flex-end;

}

.card-etapa{
  transition: .3s ease;

}

.card-etapa:hover{
  transform: scale(1.1);
}

.container-ini-4{
  text-align: center;
  justify-content: center;
  justify-self: center;
  background-color: #b5937b;
  color: #FFEBAF;
  width: 100%; 
  margin: 0 auto;

}

.titulo-final{
  background-color: #D2783A;
  width: fit-content;
  justify-self: center;
  border-radius: 5px;
  padding: 20px;
}

.livro-final{
  width: auto;
  height: 300px;
}

.fundo-livro-final{
  background-color: rgba(30 30 30 / 20%);
  backdrop-filter: blur(10px);
  border-radius: 100%;
  width: fit-content;
  justify-self: center;
}

footer {
  background-color: #442D1C;
  color: #FFEBAF;  
  padding: 20px;
  text-align: center;   
  font-size: 1rem; 
  width: auto; 
  margin: 0%;   
}
