
body {
  font-family: Arial, sans-serif;
  background-color: #bebcbc;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
}

i {
  margin-right: 5px;
}

input {
  box-sizing: border-box;
}

ul {
  padding: 0;
}


.page-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  margin-top: 150px;
}

.product-details {
  display: flex;
  gap: 40px;
}

.product-galeria {
  flex: 1;
}

.product-galeria img {
  margin-left: 250px;
  width: 250px;
  height: auto;
}

.product-path {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.product-info h2 {
  font-size: 2.5rem;
  margin: 10px 0;
  color: #030F42;
}

.rating {
  color: #fdfdfd;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.product-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 20px;
}

#color,
#quantity {
  width: 100px;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.add-to-wishlist {
  padding: 15px 30px;
  background-color: #f0f0f0;
  color: #030F42;
  border: 2px solid #030F42;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.add-to-wishlist:hover {
  background-color: #1e1e1e;
  color: #fff;
}

.product-specs {
  margin-top: 40px;
  background-color: #a7a5a5;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.tabs {
  display: flex;
  gap: 30px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.tabs li {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
  color: #030F42;
}

.tabs li:hover {
  color: #1b2f88;
}

.specs-content p {
  font-size: 1rem;
  color: #000000;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .product-details {
    flex-direction: column;
    gap: 20px;
  }

  .product-options {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .tabs {
    padding: 10px 0;
  }

  .tabs li {
    display: flex;
  }
}

@media (max-width: 480px) {
  .logo h1 {
    font-size: 1.5rem;
  }

  .nav a {
    font-size: 0.9rem;
  }

  .product-info h2 {
    font-size: 2rem;
  }

}
