<!-- head padrão -->
<meta charset="UTF-8">
<title>EJS Is Fun</title>

<link rel="stylesheet" href="/CSS/geral.css">
<link rel="shortcut icon" href="/IMG/favicon.png" type="image/x-icon">
<style>
    .navbar{
        font-weight: 500;
    }
</style>