<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/CSS/dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Dashboard</title>
</head>
<body>
    <%- include('../partials/header'); %>

    <main class="container" style="padding:32px;">

        <h1>Bem-vindo <span id="nomeUsuario" style="font-style: italic; "></span></h1>

        <section style="display:grid; grid-template-columns:2fr 1fr; gap:16px; margin-top:24px;">
            <div class="cards">
                <h3>Resumo</h3>
                <canvas id="graficoUsuarios"></canvas>
            </div>

            <div class="cards">
                <h3>GRUPOS</h3>

                <div class="card-list" id="gruposList"></div>
            </div>
        </section>
    </main>

    <!-- Loader de carregamento -->
    <div class="loader-overlay" style="display: none;">
        <div class="loader"></div>
    </div>

    <dialog id="dialogShareCode">
        <button id="btnCloseModal" class="close-button" aria-label="Fechar Modal">
            &times;
        </button>
        <div class="header-dialog">
            <h1>Junte-se à Galera!</h1>
            <p>Utilize o código de convite para se conectar com seu Grupo.</p>
        </div>
        <div class="otp-container">
            <input type="text" maxlength="1" class="otp-input" data-index="0" />
            <input type="text" maxlength="1" class="otp-input" data-index="1" />
            <input type="text" maxlength="1" class="otp-input" data-index="2" />
            <span class="otpTraco" tabindex="-1">-</span>
            <input type="text" maxlength="1" class="otp-input" data-index="3" />
            <input type="text" maxlength="1" class="otp-input" data-index="4" />
            <input type="text" maxlength="1" class="otp-input" data-index="5" />
        </div>
                <button id="btnEntarGrupoModal" type="button" class="btn-send">Entrar</button>
        <div class="login-links">
            <a id="criarGrupoLinkModal">Criar Grupo!</a>
        </div>
    </dialog>

    <dialog id="dialogCadastrarGrupo">
            <h2>Criar Grupo</h2>
            <form class="login-form" method="POST">
                <div class="form-group">
                    <label for="nomeGrupo">Nome do Grupo:</label>
                    <input type="text" id="nomeGrupo" name="nomeGrupo" placeholder="Digite o nome" required>
                </div> 
                <div class="form-group">
                    <label for="tipoGrupo">Tipo de Grupo</label>
                    <select id="tipoGrupo" name="tipoGrupo" required>
                        <option value="" disabled selected>Selecione o tipo de grupo</option>
                        <option value="Empresarial">Empresarial</option>
                        <option value="Familiar">Familiar</option>
                        <option value="Amigos">Amigos</option>
                        <option value="Comunidade">Comunidade</option>
                        <option value="Republica">República</option>
                    </select>
                </div>
                <button id="btnCriarGrupo" type="button" class="btn-send">Criar</button>
                <div class="login-links">
                    <a id="entrarGrupoLinkModal">Entrar em um Grupo!</a>
                </div>
            </form>
        </div>
    </dialog>

    <%- include('../partials/footer'); %>

<script src="/JS/dashboard.js"></script>
</body>
</html>
