 body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #EDDCBB;
}     
   
.navbar {
      background-color: #EDDCBB;
    box-shadow: 0 4px 16px 0 rgba(156, 58, 59, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    }
  
.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.nav-link {
    color: #4e4e4e;
    padding: 15px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 1.3rem;
}

    .nav-link:hover {
   transform: scale(1.1);
    color: #D7C9AA;
    background-color: #9C3A3B;

    }

    .navbar-brand img {
      height: 45%;
      width: auto;
    }

    .sair {
      background-color: transparent;
      color: #9C3A3B;   
      border: 2px solid #9C3A3B;
      transition: all 0.3s ease;
       font-size: 1.3rem;
        padding: 10px 15px;
    }

    .sair:hover {
      background-color: #9C3A3B;
      color: #D7C9AA;
      transform: scale(1.1);
    }
    .perfil {
      background-color: transparent;
      color: #9C3A3B;   
      transition: all 0.3s ease;
      margin-right: 10px;
       font-size: 1.3rem;
        padding: 10px 15px;
    }
    .perfil:hover {
      background-color: #9C3A3B;
      color: #D7C9AA;
      transform: scale(1.1);
    }

    .biblioteca {
    color: #D7C9AA;
    background-color: #9C3A3B;
    }

    .barra {
    color: #4e4e4e;
    padding: 10px 15px;
    border-radius: 30px !important;
    transition: all 0.3s ease;
    font-size: 1.2rem;
}


#bibliotecaTabs {
    background-color: #f9f4eb;
    border-radius: 50px;
    padding: 8px;
    max-width: 500px;
    margin: 30px auto;

    
}





.titulo {
  color: #9C3A3B;
  font-family: 'Italianno', cursive;
  font-size: 6.5rem;
}

.card{
    background-color: #f9f4eb;
    transition: transform 0.3s ease;
    
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card-title{
    color: #272727;
    font-weight: bold;
    margin: 0;
}
.card-text{
    color: #4e4e4e;
    
}
.autor{
    font-style: italic;
    padding: 10px 0;
}
.paginas{
    color: #696969;
    padding-bottom: 10px;
}
.text-muted {
    color: #8C8C8C;
}
.fw-bold {
color: #696969;
}

.progress-bar {
background: #9C3A3B;
background: linear-gradient(90deg, rgba(156, 58, 59, 1) 0%, rgba(207, 88, 14, 1) 100%);
border-radius: 12px;
transition: width 1s ease-in-out;
}
.nav-pills .nav-link {
    color: #555; 
    background-color: #f9f4eb; 
    border-radius: 1rem; 
    transition: all 0.3s ease; 
}

.nav-pills .nav-link.active {
    background-color: #d97c48; 
    color: white; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}


.nav-pills .nav-link:hover {
    background-color: #c66b36; 
    color: white; 
}

.continuar-lendo {
    background-color: #9C3A3B;
    color: #D7C9AA;
    border: 2px solid #9C3A3B;
    transition: all 0.3s ease;
    border-radius: 8px;
     font-size: 1.1rem;
    padding: 10px 15px;
}
.continuar-lendo:hover {
    background-color: transparent;
    color: #9C3A3B;
    border: 2px solid #9C3A3B;
    transform: scale(1);
}
.capalivro {
      display: block;
  margin: 0 auto; 
  width: 90%; 
  border-radius: 10px; 
  object-fit: cover; 
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15); 
}

.ler-agora{
     background-color: #9C3A3B;
    color: #D7C9AA;
    border: 2px solid #9C3A3B;
    transition: all 0.3s ease;
    border-radius: 8px;
    font-size: 1.1rem;
    padding: 8px;
}
.ler-agora:hover {
    background-color: transparent;
    color: #9C3A3B;
    border: 2px solid #9C3A3B;
    transform: scale(1);
}
.avaliar-livro{
     background-color: #9C3A3B;
    color: #D7C9AA;
    border: 2px solid #9C3A3B;
    transition: all 0.3s ease;
    border-radius: 8px;
    font-size: 1.1rem;
    padding: 8px;
}
.avaliar-livro:hover {
    background-color: transparent;
    color: #9C3A3B;
    border: 2px solid #9C3A3B;
    transform: scale(1);
}
.salvar {
  background-color: #9C3A3B;
  color: #EDDCBB;
  border: 3px solid #9C3A3B;
  transition: all 0.3s ease;
   font-size: 1.3rem;
   padding: 10px 15px;
}

.salvar:hover {
  background-color: transparent;
  color: #9C3A3B;
  transform: scale(1.1);
   border: 3px solid #9C3A3B;
}
#btnSalvarNota:hover {
     background-color: transparent;
  color: #9C3A3B;
  transform: scale(1.1);
   border: 3px solid #9C3A3B;
}
.cancelar {
  background-color: transparent;
  color: #9C3A3B;
  border: 3px solid #9C3A3B;
  transition: all 0.3s ease;
  font-size: 1.3rem;
   padding: 10px 15px;
}

.cancelar:hover {
  background-color: #9C3A3B;
  color: #EDDCBB;
  transform: scale(1.1);
}




.modal-title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #272727;
}
    .form-label {
      color: #8C8C8C;
      font-size: 1.3em;
    }
    .form-control {
      border-radius: 10px;
      background-color: #f9f1e7;
      border: 1px solid #d9c6b0;
    }
    input {
        height: 50px;
    }
     .form-control:focus {
      border-color: #E4A67C;
      box-shadow: 0 0 0 0.2rem rgba(217, 124, 72, 0.25);
    }
    #btnSalvarNota {
        background-color: #9C3A3B;
    }

    .modal-content {
        background-color: #f9f4eb;
    }
footer {
    background: #9C3A3B;
    color: #D7C9AA;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}



.linha{
    border: 1px solid #D7C9AA;
    margin: 20px 0;
}
.subtitulo-footer{
    color: #D7C9AA;
    font-size: 4rem;
    margin-bottom: 5px;
    font-family: 'Italianno', cursive;
}
.paragrafo-footer{
    color: #D7C9AA;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}

.li-footer{
    text-align: justify;
}

.fab {
    gap: 20px;
    font-size: 2.5rem;
    margin: 0 10px;
    color : #D7C9AA;
    transition: transform 0.3s ease;
}
.fab:hover {
    transform: scale(1.2);
    color: #FFFFFF;
}
nav .nav-pills {
    padding: 15px;
}