  body {
       background: #9C3A3B;
    background: linear-gradient(90deg, rgba(156, 58, 59, 1) 0%, rgba(91, 72, 86, 1) 60%, rgba(48, 81, 103, 1) 100%);
      font-family: "Poppins", sans-serif;
    }

.navbar {
    background-color: #EDDCBB;
    box-shadow: 0 4px 16px 0 rgba(156, 58, 59, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    }
  
.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  
}

.nav-link {
    color: #4e4e4e;
    padding: 15px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 1.3rem;
}

    .nav-link:hover {
    transform: scale(1.1);
    color: #D7C9AA;
    background-color: #9C3A3B;
    }

    .navbar-brand img {
      height: 45%;
      width: auto;
    }

    .entrar {
  background-color: transparent;
  color: #9C3A3B;
  border: 3px solid #9C3A3B;
  transition: all 0.3s ease;
  font-size: 1.3rem;
   padding: 10px 15px;
}

.entrar:hover {
  background-color: #9C3A3B;
  color: #EDDCBB;
  transform: scale(1.1);
}

.cadastrar {
  background-color: #9C3A3B;
  color: #EDDCBB;
  border: 3px solid #9C3A3B;
  transition: all 0.3s ease;
   font-size: 1.3rem;
   padding: 10px 15px;
}

.cadastrar:hover {
  background-color: transparent;
  color: #9C3A3B;
  transform: scale(1.1);
   border: 3px solid #9C3A3B;
}
    .inicio {
       color: #D7C9AA;
    background-color: #9C3A3B;
    }


@media (max-width: 991px) {
  .d-flex.gap-2 {
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar-nav {
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
  }
}

    .card {
      border: none;
      border-radius: 1.5rem;
      background-color: #f9f4eb;
    }

    .btn-custom {
      background-color: #9C3A3B;
      color: white;
      font-weight: 500;
      border-radius: 10px;
      transition: all 0.3s ease;
    
    }

    .btn-custom:hover {
     background-color: #305167;
    color: #f9f4eb;
    border: 1px solid #d9c6b0;
    transform: scale(1.05);
    }

    .form-control {
      border-radius: 10px;
      background-color: #f9f1e7;
      border: 1px solid #d9c6b0;
      
    }

    .form-control:focus {
      border-color: #E4A67C;
      box-shadow: 0 0 0 0.2rem rgba(217, 124, 72, 0.25);
    }

      input {
        height: 50px;
    }
    .icon-input {
      position: relative;
    }

    .icon-input i {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      color: #305167;
    }

    .icon-input input {
      padding-left: 40px;
    }

    .generos span {
      background-color: #f9f1e7;
      border: 1px solid #d9c6b0;
      color: #6b4b3e;
      border-radius: 20px;
      padding: 6px 12px;
      margin: 4px;
      display: inline-block;
      cursor: pointer;
      transition: 0.3s;
      font-size: 1.1rem;
    }

    .generos span.active {
      background-color: #E4A67C;
      color: #305167;
    }

    .generos span:hover {
      background-color: #E4A67C;
      color: #305167;
    }

    a {
      text-decoration: none;
    }
    .subtitulo{
    color: #9C3A3B;
    font-size: 5rem;
    margin-bottom: 5px;
    font-family: 'Italianno', cursive;
    }
    p {
        color: #8C8C8C;
        font-size: 1.2rem;
    }
    .termos{
        color: #9C3A3B;
    }
    
    footer {
    background: #9C3A3B;
    color: #D7C9AA;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}
.linha{
    border: 1px solid #D7C9AA;
    margin: 20px 0;
}

.subtitulo-footer{
    color: #D7C9AA;
    font-size: 4rem;
    margin-bottom: 5px;
    font-family: 'Italianno', cursive;
}
.paragrafo-footer{
    color: #D7C9AA;
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: justify;
}

.li-footer{
    text-align: justify;
}

.fab {
    gap: 20px;
    font-size: 2.5rem;
    margin: 0 10px;
    color : #D7C9AA;
    transition: transform 0.3s ease;
}
.fab:hover {
    transform: scale(1.2);
    color: #FFFFFF;
}
 