body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #EDDCBB;
}     
   
.navbar {
      background-color: #EDDCBB;
    box-shadow: 0 4px 16px 0 rgba(156, 58, 59, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    }
  
.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.nav-link {
    color: #4e4e4e;
    padding: 15px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 1.3rem;
}

    .nav-link:hover {
   transform: scale(1.1);
    color: #D7C9AA;
    background-color: #9C3A3B;

    }

    .navbar-brand img {
      height: 45%;
      width: auto;
    }

    .sair {
      background-color: transparent;
      color: #9C3A3B;   
      border: 2px solid #9C3A3B;
      transition: all 0.3s ease;
       font-size: 1.3rem;
        padding: 10px 15px;
    }

    .sair:hover {
      background-color: #9C3A3B;
      color: #D7C9AA;
      transform: scale(1.1);
    }
    .perfil {
      background-color: transparent;
      color: #9C3A3B;   
      transition: all 0.3s ease;
      margin-right: 10px;
       font-size: 1.3rem;
        padding: 10px 15px;
    }
    .perfil:hover {
      background-color: #9C3A3B;
      color: #D7C9AA;
      transform: scale(1.1);
    }

    .comunidade {
       color: #D7C9AA;
    background-color: #9C3A3B;
    }
.titulo {
  color: #9C3A3B;
  font-family: 'Italianno', cursive;
  font-size: 6.5rem;
}

.subtitulo {
    color: #9C3A3B;
    font-size: 2.2rem;
    margin-bottom: 10px;
    font-family: 'Italianno', cursive;
}
.data-resenha {
    font-size: 1.3rem !important
}
.card-body, .card{
background-color: #f9f4eb;
}
.nome-usuario{
     color: #272727;
    font-weight: bold;
    margin: 0;
    font-size: 1.4rem;
}
.foto-usuario {
    width: 6%;
}
.foto-lugares{
    width: 30%;
}
.livro-mencionado{
    background-color: rgba(228, 166, 124, 0.4) !important;
    border: 1px solid #9C3A3B;
    border-radius: 5px;
}

.card-subtitle{
    color: #272727;
    font-size: 1.3rem;
    color: #9C3A3B;
    
}
.text-muted {
    font-size: 1.2rem;
}
.card-title {
    font-size: 1.2rem;

}

button {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: #696969;
}

.card-text {
    font-size: 1.3rem;
    text-align: justify;
}

.grupos-leitura{
    background-color: rgba(228, 166, 124, 0.4) !important;
   border-radius: 12px;
}
.fa-plus{
    font-size: 2rem;
    color: #696969 ;
    transition: transform 0.3s ease;
}

.fa-plus:hover{
    transform: scale(1.2);
    color: #E4A67C;
}
.fa-circle{
    font-size: 1.5rem;
    color: #E4A67C ;
}
.n-pontos{
    font-size: 1.2rem;
    color: #9C3A3B;
}
.btn-like i {
  transition: color 0.3s;
}

.btn-like.liked i {
  color: #9C3A3B;
}
footer {
    background: #9C3A3B;
    color: #D7C9AA;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}
.linha{
    border: 1px solid #D7C9AA;
    margin: 20px 0;
}
.subtitulo-cards{
    color: #9C3A3B;
    font-size: 4rem;
    margin-bottom: 5px;
    font-family: 'Italianno', cursive;
}
.subtitulo-footer{
    color: #D7C9AA;
    font-size: 4rem;
    margin-bottom: 5px;
    font-family: 'Italianno', cursive;
}
.paragrafo-footer{
    color: #D7C9AA;
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: justify;
}

.li-footer{
    text-align: justify;
}

.fab {
    gap: 20px;
    font-size: 2.5rem;
    margin: 0 10px;
    color : #D7C9AA;
    transition: transform 0.3s ease;
}
.fab:hover {
    transform: scale(1.2);
    color: #FFFFFF;
}
