/* ESTRUTURA BÁSICA */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.container {
  flex: 1;
  max-width: 100%;
  background-color: white;
}

/* CABEÇALHO */
header {
  background-color: white;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:Verdana, Geneva ;
}

.logo img {
  height: 60px;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a.active {
  text-transform: uppercase;
  border-bottom: 3px solid #f08a24;
  padding-bottom: 3px;
  color: #f08a24;
}

.nav-links li a:hover {
  color: #f08a24;
  text-decoration: underline;
}

/* Responsividade do Menu (Header) */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Esconde a navegação em telas menores (geralmente aqui é colocado um menu sanduíche com JS) */
    }
    .nav {
        justify-content: center; /* Centraliza o logo se os links sumirem */
    }
}


/* === RODAPÉ === */
footer {
  background-color: #28221c;
  color: white;
  padding: 40px 10%;
  font-family: 'Playfair Display', serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-info, .footer-links {
  flex: 1;
  min-width: 250px;
}

.footer-info h3, .footer-links h3 {
  color: #d76f0d;
  margin-bottom: 15px;
}

.footer-info p, .footer-links a {
  font-size: 0.95rem;
  color: #f5f5f5;
  text-decoration: none;
  line-height: 1.8;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a:hover {
  color: #BF8847;
  text-decoration: underline;
}

.footer-rights {
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: 20px;
  padding-top: 10px;
  font-size: 0.85rem;
  color: #ddd;
}

/* Responsividade do Rodapé */
@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        gap: 20px;
    }
    .footer-info, .footer-links {
        min-width: 100%;
    }
    .footer-info h3, .footer-links h3 {
        margin-bottom: 10px;
    }
}