.star-rating{
    padding: 2rem 3rem;
    border-radius: 15px;
    background-color: #f5f5f5;
}

.star-rating .stars{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label{
    font-size: 2.5rem;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0 2px;
}

.star-rating label:hover,
.star-rating label:hover ~ label{
    color: #ffc107;
}

.star-rating input[type="radio"]:checked ~ label {
    color: #ffc107;
}

.star-rating input[type="radio"]:checked ~ label {
    animation: pulse 0.5s;
}

@keyframes pulse{
    0% {transform: scale(1); }
    50% {transform: scale(1.3); }
    100% {transform: scale(1); }
}

button{
  height: 47px;
  justify-content: center;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  display: grid;
  padding: 17px 40px;
  border-radius: 10px;
  border: 0;
  background-color:  rgb(107, 59, 60);
  box-shadow: #0000000d 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 12px;
  transition: all .5s ease;
  color: #e9e9e9;
  display: flex;
  flex-wrap: nowrap;
  font-family: 'Comic Neue', cursive;
    margin: 20px auto; 
  display: block;    
  width: 200px;
  height: 40px;
}

button:hover{
   letter-spacing: 2px;
    background-color: #ffc107;
    color: #f0f0f0;
    box-shadow: #ffc107 0px 4px 19px 0px;
    font-family: 'Comic Neue', cursive;
}