body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #EDDCBB;
}    

.navbar {
    background-color: #EDDCBB;
    box-shadow: 0 4px 16px 0 rgba(156, 58, 59, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    }
  
.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  
}

.nav-link {
    color: #4e4e4e;
    padding: 15px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 1.3rem;
}

    .nav-link:hover {
    transform: scale(1.1);
    color: #D7C9AA;
    background-color: #9C3A3B;
    }

    .navbar-brand img {
      height: 45%;
      width: auto;
    }

    .entrar {
  background-color: transparent;
  color: #9C3A3B;
  border: 2px solid #9C3A3B;
  transition: all 0.3s ease;
  font-size: 1.3rem;
   padding: 10px 15px;
}

.entrar:hover {
  background-color: #9C3A3B;
  color: #EDDCBB;
  transform: scale(1.1);
}

.cadastro {
  background-color: #9C3A3B;
  color: #EDDCBB;
  border: 2px solid #9C3A3B;
  transition: all 0.3s ease;
   font-size: 1.3rem;
   padding: 10px 15px;
}

.cadastro:hover {
  background-color: #EDDCBB;
  color: #9C3A3B;
  transform: scale(1.1);
   border: 2px solid #9C3A3B;
}
    .inicio {
       color: #D7C9AA;
    background-color: #9C3A3B;
    }

@media (max-width: 991px) {
  .d-flex.gap-2 {
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar-nav {
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
  }
}
.card-img-top {
  width: 80px;
}

.card{
    background-color: #f9f4eb;
    transition: transform 0.3s ease;
    
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.container1{
    width: 100%;
    height: 100vh;  
    margin: 0 auto;
    background: #9C3A3B;
    background: linear-gradient(90deg, rgba(156, 58, 59, 1) 0%, rgba(91, 72, 86, 1) 60%, rgba(48, 81, 103, 1) 100%);
    padding: 150px 60px;
    
}
.container1 img {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.titulo1 {
  color: #EDDCBB;
  font-family: 'Italianno', cursive;
  font-size: 6.9rem;
 
}

.inicio1{
    color: #EDDCBB;
    margin-top: 20px;
    margin-bottom: 40px;
   font-size: 1.5rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.container1 {
  padding: 10rem 5rem;
  overflow: hidden;
}

.container1 .row {
  align-items: center;
}




.container1 .espaco-botoes .btn {
  min-width: 180px;
  padding: 0.8rem 1.5rem;

}

.entrar {
   background-color: #EDDCBB;
    color: #9C3A3B;
    border: 3px solid #9C3A3B;
    border-radius: 8px;
    transition: all 0.3s ease;
      font-size: 1.3rem;
   padding: 10px 15px;
}
.entrar:hover {
  background-color: #9C3A3B;
  color: #EDDCBB;
  transform: scale(1.1);
}

.cadastrar{
   background-color:#9C3A3B;
    color: #EDDCBB;
    border: 3px solid #9C3A3B;
    border-radius: 8px;
    padding: 5px 10px;
    transition: all 0.3s ease;
      font-size: 1.3rem;
   padding: 10px 15px;
}
.cadastrar:hover {
  background-color: transparent;
  color: #9C3A3B;
  transform: scale(1.1);
   border: 3px solid #9C3A3B;
}



.container2{
    width: 100%;
    margin: 0 auto;
    background: #EDDCBB;
    padding: 50px 20px;
}

.titulo2 {   
color: #9C3A3B;
  font-family: 'Italianno', cursive;
  font-size: 6.5rem;
}

.inicio2 {
    color: #8C8C8C;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 1.5rem;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 24px; 
    height: 100%;
    box-sizing: border-box;
    word-break: break-word;
}



.card-img-top.icones {
    max-width: 120px;
    height: auto;
    margin: 0 auto 20px auto;
    display: block;
}


.subtitulo {
    color: #9C3A3B;
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Italianno', cursive;
}
.paragrafo {
    color: #8C8C8C;
    font-size: 1.2rem;

}


.container3 {
    width: 100%;
    margin: 0 auto;
    background: #F8ECF6;
    padding: 50px 20px;
}

.card2 {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    word-break: break-word;
    margin-bottom: 24px;
}


.nome-usuario {
  color: #272727;
    font-weight: bold;
    margin: 0;
}
.subtitulo2{
    color: #272727;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
.livroslidos {
    color: #8C8C8C;
    font-size: 1rem;
  
}
 
.titulo3 {
    text-align: center;
    color: #9C3A3B;
    font-family: 'Italianno', cursive;
    font-size: 5rem;
}
.inicio3 {
    text-align: center;
    color: #8C8C8C;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.5rem;

}
.fa-star {
  color: goldenrod;
}
.navv {
  color: #4e4e4e;
}

.navv:hover {
  color: transparent;
}




.container4 {
    width: 100%; 
    background: #EDDCBB;
    padding: 60px 150px;
    text-align: center;
    background: #9C3A3B;
    background: linear-gradient(90deg, rgba(156, 58, 59, 1) 0%, rgba(91, 72, 86, 1) 60%, rgba(48, 81, 103, 1) 100%);
   
}

.titulo4 {
    color: #EDDCBB;
    font-family: 'Italianno', cursive;
    font-size: 5rem;
    margin-bottom: 20px;
}
.inicio4 {
    color: #EDDCBB;
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.explorar {
    background-color: #EDDCBB;
    color: #9C3A3B;
    border: 3px solid #9C3A3B;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin: 0 auto;
    font-size: 1.3rem;
   padding: 10px 15px;
   width: 250px;
}

.explorar:hover {
    background-color: #EDDCBB;
    color: #9C3A3B;
    transform: scale(1.1);
    border: none;
}



footer {
    background: #9C3A3B;
    color: #EDDCBB;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}
.linha{
    border: 1px solid #EDDCBB;
    margin: 20px 0;
}
.subtitulo-footer{
    color: #EDDCBB;
    font-size: 4rem;
    margin-bottom: 5px;
    font-family: 'Italianno', cursive;
}
.paragrafo-footer{
    color: #EDDCBB;
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: justify;
}

.li-footer{
    text-align: justify;
}

.fab {
    gap: 20px;
    font-size: 2.5rem;
    margin: 0 10px;
    color : #EDDCBB;
    transition: transform 0.3s ease;
}
.fab:hover {
    transform: scale(1.2);
    color: #FFFFFF;
}



/* ======== RESPONSIVIDADE ======== */

/* Tablets */
@media (max-width: 992px) {
  .container1 h1.titulo1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .container1 p.inicio1 {
    text-align: center;
    font-size: 1.1rem;
  }

  .container1 .espaco-botoes {
    justify-content: center !important;
  }
}

/* Celulares */
@media (max-width: 576px) {
  .container1 {
    padding: 3rem 1rem;
    text-align: center;
  }

  .container1 h1.titulo1 {
    font-size: 3rem;
  }

  .container1 p.inicio1 {
    font-size: 1rem;
  }
  .container1 .btn.entrar .btn.cadastrar {
   padding: 5px;

  }

   .container1 .btn {
   font-size: 1rem;
  }
  .container1 .espaco-botoes {
    flex-direction: column !important;
    gap: 2px
  }

  .container1 img {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 767px) {
  .container1 {
    padding-top: 160px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .center-nav {
    position: static;
    transform: none;
    margin: 10px auto;
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    width: auto;
    margin: 5px 0;
  }

  .d-flex.ms-auto.gap-3 {
    justify-content: center;
    margin-top: 10px;
  }

  .espaco-botoes {
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 480px) {
  .container1 {
    padding-top: 180px;
    padding-right: 15px;
  }

  .titulo1 {
    font-size: 2.8rem;
  }

  .inicio1 {
    font-size: 1rem;
  }

  .espaco-botoes {
    gap: 10px;
  }

  .explorar,
  .conhecer,
  .explorar2 {
    width: 100%;
    padding: 10px;
  }
}
  .container1 img {
    width: 100%;

  }


