body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #EDDCBB;
}     
   
.navbar {
      background-color: #EDDCBB;
    box-shadow: 0 4px 16px 0 rgba(156, 58, 59, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    }
  
.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.nav-link {
    color: #4e4e4e;
    padding: 15px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 1.3rem;
}

    .nav-link:hover {
   transform: scale(1.1);
    color: #D7C9AA;
    background-color: #9C3A3B;

    }

    .navbar-brand img {
      height: 45%;
      width: auto;
    }

    .sair {
      background-color: transparent;
      color: #9C3A3B;   
      border: 2px solid #9C3A3B;
      transition: all 0.3s ease;
       font-size: 1.3rem;
        padding: 10px 15px;
    }

    .sair:hover {
      background-color: #9C3A3B;
      color: #D7C9AA;
      transform: scale(1.1);
    }
    .perfil {
      background-color: transparent;
      color: #9C3A3B;   
      transition: all 0.3s ease;
      margin-right: 10px;
       font-size: 1.3rem;
        padding: 10px 15px;
    }
    .perfil:hover {
      background-color: #9C3A3B;
      color: #D7C9AA;
      transform: scale(1.1);
    }

    .reviews {
    color: #EDDCBB;
    background-color: #9C3A3B;
    }
    

.titulo {
  color: #9C3A3B;
  font-family: 'Italianno', cursive;
  font-size: 6.5rem;
}

.subtitulo-footer {
 color: #EDDCBB;
    font-size: 4rem;
    margin-bottom: 5px;
    font-family: 'Italianno', cursive;
}
.subtitulo-cards {
    color: #9C3A3B;
    font-size: 4rem;
    margin-bottom: 5px;
    font-family: 'Italianno', cursive;
}
.fa-award{
font-size: 3rem;
}
.fa-clock{
  font-size: 2rem;
}
.card-body, .card{
background-color: #f9f4eb;
}
.foto-usuario {
    width: 30%;
}

.adicionar-review{
  background-color: #9C3A3B;
  border-radius: 5px;
  color: #EDDCBB;
  transition: all 0.3s ease;
   font-size: 1.2rem;
  padding: 10px 15px;
}
.adicionar-review:hover {
  transform: scale(1.1);
  background-color: #9C3A3B;
  color: #EDDCBB;
}
button {
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: #696969;
}
.estrela{
  color: goldenrod;
}
.btn-like i {
  transition: color 0.3s;
}

.btn-like.liked i {
  color: #9C3A3B;
}


.text-muted {
    font-size: 1.2rem;
}
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #272727;

}
.card-text {
    font-size: 1.3rem;
    text-align: justify;
}
.modalResenha{
  color: #f9f4eb;
}
 .publicar{
      background-color: #9C3A3B;
      color: white;
      font-weight: 500;
      border-radius: 10px;
      transition: all 0.3s ease;
    
    }

    .publicar:hover {
     background-color: transparent;
    color: #9C3A3B;
    border: 1px solid #9C3A3B;
    transform: scale(1);
    }

    .form-control {
      border-radius: 10px;
      background-color: #f9f1e7;
      border: 1px solid #d9c6b0;
      
    }

    .form-control:focus {
      border-color: #E4A67C;
      box-shadow: 0 0 0 0.2rem rgba(217, 124, 72, 0.25);
    }

footer {
    background: #9C3A3B;
    color: #EDDCBB;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}
.linha{
    border: 1px solid #EDDCBB;
    margin: 20px 0;
}
.subtitulo3{
    color: #EDDCBB;
    font-size: 3rem;
    margin-bottom: 5px;
    font-family: 'Italianno', cursive;
}
.paragrafo-footer{
    color: #EDDCBB;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
}

.li-footer{
    text-align: justify;
}

.fab {
    gap: 20px;
    font-size: 2.5rem;
    margin: 0 10px;
    color : #EDDCBB;
    transition: transform 0.3s ease;
}
.fab:hover {
    transform: scale(1.2);
    color: #FFFFFF;
}
