@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google fontes */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Personalização do Leaflet */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  padding: 0 !important;
}

.leaflet-popup {
  bottom: 0 !important;
}

.leaflet-popup-tip {
  display: none !important;
}

.leaflet-routing-container {
  display: none !important;
}
