body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800px;
    text-align: center;
    background-color: black;
    color: white;
    margin: 3% 10% 3% 10%;
}

/* Torna elemento que adiciona imagem invisível tornando possível apenas a visualização do botão */
#imagemregiao{
   display: none;
}

img{
    margin-top: 20px;
    margin-bottom: -10px;
    width: 100%;
    border-radius: 5px;
    place-self: center;
}

/* Grid para exibir funções de alteração de estado lado a lado */
.grid{
    margin-top: -20px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    justify-content: center;
    padding: 5px;
}

/* Container genérico */
.container{
    padding: 5px;
    border-radius: 20px;
    place-items: center;
    background-color: #252525;
    margin-top: 40px;
}

h3{
    padding: 15px;
    margin-top: -40px;
    cursor: pointer;
    font-weight: lighter;
    color: white;
}

/* Correção de posicionamento no botão de exclusão */
.excluir{
    margin-top: -185px;
}

/* Correção de posicionamento no nome da região */
.nomeregiao{
    padding-top: 15px;
    margin-bottom: -40px;
}

h1{
    font-weight: bolder;
}

span{
  user-select: none;
}

/*Estilização Dos Botões*/
.adicionar{
    background-color: black;
    cursor: pointer;
    border: dotted gray 2px;
    border-radius: 20px;
    padding: 20px;
    margin-top: 35px;
}

.add{
    color: gray;
}

.cheia{
    background-color: red;
    border: solid black 1px;
    margin: 0% 0% 2% 0%;
    margin-top: 35px;
}

.cheia a{
  color: black;
}

.seca{
    background-color: black;
    border: solid red 1px;
    margin: 0% 0% 2% 0%;
    margin-top: 35px;
}

.seca a {
  color: red;
}

.laranja{
    background-color: #111111;
    box-shadow: 0px 0px 10px darkorange;
    margin: 0% 0% 2% 0%;
    border-radius: 20px;
    border: solid 2px darkorange;
    margin-top: 35px;
}

.laranja a{
  color: darkorange;
}

.roxo{
  background-color: #111111;
    box-shadow: 0px 0px 10px purple;
    margin: 0% 0% 2% 0%;
    border-radius: 20px;
    border: solid 2px purple;
    margin-top: 35px;
}

.roxo a{
  color: purple;
}

.azul{
    background-color: #111111;
    box-shadow: 0px 0px 10px rgb(45, 53, 160);
    margin: 0% 0% 2% 0%;
    border-radius: 20px;
    border: solid 2px rgb(45, 53, 160);
    margin-top: 35px;
}

.azul a{
  color: rgb(45, 53, 160);
}

.verde{
   background-color: #111111;
    box-shadow: 0px 0px 10px darkgreen;
    margin: 0% 0% 2% 0%;
    border-radius: 20px;
    border: solid 2px darkgreen;
    margin-top: 35px;
}

.verde a{
  color: darkgreen;
}


/* Estilização do input do nome da região */
.textInputWrapper {
  position: relative;
  width: 100%;
  margin: 12px 0px;
  --accent-color: rgb(16, 131, 207);
  place-self: center;
}

.textInputWrapper:before {
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:before,
.textInputWrapper:after {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
  bottom: -1px;
  z-index: 4;
  width: 100%;
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
}

.textInputWrapper:before {
  transition: border-bottom-color 2000ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.textInputWrapper:focus-within:before {
  border-bottom: 1px solid var(--accent-color);
  transform: scaleX(1);
}

.textInputWrapper:focus-within:after {
  border-bottom: 2px solid var(--accent-color);
  transform: scaleX(1);
}

.textInputWrapper:after {
  content: "";
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  will-change: transform;
}

.textInput::placeholder {
  transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  opacity: 1;
  user-select: none;
  color: rgba(255, 255, 255, 0.582);
}

.textInputWrapper .textInput {
  border-radius: 10px;
  background-color: #252525;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 200ms;
  transition-property: background-color;
  color: #e8e8e8;
  font-size: 30px;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  border-left: none;
  border-bottom: none;
  border-right: none;
  margin-left: -12px;
  text-align: center;
}

.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  outline: none;
}

.textInputWrapper:focus-within .textInput,
.textInputWrapper .textInput:focus,
.textInputWrapper .textInput:active {
  background-color: #252525;
}

.textInputWrapper:focus-within .textInput::placeholder {
  opacity: 0;
}

/* Estilização de botão animado */
.btn {
 display: inline-block;
 padding: 15px 15px;
 font-size: 30px;
 font-weight: 700;
 color: white;
 border: 3px solid rgb(16, 131, 207);
 cursor: pointer;
 position: relative;
 background-color: transparent;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: inherit;
 border-radius: 10px;
 width: 100%;
 margin: 0% 0% 3% 0%;
}

.btn::before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: rgb(16, 131, 207);
 transform: translateX(-100%);
 transition: all .3s;
 z-index: -1;
}

.btn:hover::before {
 transform: translateX(0);
}

.margem{
   padding: 3% 0% 0% 0%;
   margin: 0% -1% 0% -1%;
}

/* Estilização de textos com funções de botão */
a{
  font-size: 26px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: none;
}

a:focus,
A:hover {
  color: #fff;
}

A:focus:after,
A:hover:after {
  width: 100%;
  left: 0%;
}

A:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* Estilização do input para seleção de cor */
.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 400px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #252525;
  color: #fff;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
   box-shadow: #000000 2px 2px 4px;
   margin: 20px;
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 20px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 4);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection{
  transform: translateX(calc(var(--container_width) * 0/4));
  background-color: darkorange;
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1/4));
  background-color: purple;
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 2/4));
    background-color: darkblue;
}

.radio-input label:nth-child(4):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 3/4));
    background-color: darkgreen;
}

/* Estilização de card onde será exibida informações da região */
.card {
  width: 100%;
  height: 200px;
  transition: all 0.4s;
  border-radius: 10px;
  font-size: 30px;
  font-weight: thin;
  margin-top: -40px;
}

.card:hover {
  margin-top: 0px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
  background-color: transparent;
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
}